* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 12px;
}

body {
    font-family: Poppins, sans-serif;
    font-size: 14.4px;
    color: #464646;
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
}