@import "../../../styles/partials/variables.scss";

.departmentInfo {
    margin: 30px 0 0;

    .content {
        p {
            line-height: 33px;
            font-weight: 300;
        }

        .title {
            h2 {
                font-size: 40px;
                padding: 10px 0;
            }
        }

        .info {}

        a {
            display: inline-block;
            line-height: 1;
            font-size: .9rem;
            border-radius: 5px;
            padding: 10px 50px;
            margin: 16px 0;
            background-color: $clr_primary;
            color: #fff;
        }
    }

    .image {
        width: 416px;
        height: 450px;

        img {
            border-radius: 16px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

}